
<form #loginform="ngForm"> 
  <table class="table" id="tblogin">
    <thead class="bg-info text-white">
      <tr>
        <th>Log in</th>
      </tr>
    </thead>
    <tbody class="bg-light text-dark">  
      <tr>
        <td> 
          <input type="text" name="name" placeholder="Username" #username="ngModel" [(ngModel)]="loginService.logina.name"/>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" name="password" placeholder="Password" #password="ngModel" [(ngModel)]="loginService.logina.password"/>
        </td>
      </tr>
      <tr>
        <td>
          <input class="btn bg-success text-white" type="button" value="Log in" (click)="logperson(loginform)"/>
        </td>
      </tr>
      <!--tr
      td
          p(class="text-center text-muted")
              small(class="ng-binding") Don't have an account yet?
              a(ui-sref="main.views.signup" class="text-dark" href="/register/") Sign up
      -->
    </tbody>
  </table>
</form>